*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

p{
    width: 80%;
    margin: 5px 100px;
    text-align: left;
    font-size: 24px;
}

header, footer{
    padding: 15px 10px;
    background-color: #3C6CFF;
}

header div.menu{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

header div.menu div.menu-item{
    display: inline;
    padding: 10px 10px;
}

header div.menu div.menu-item a{
    text-decoration: none;
    display: inline;
    color: white;
    font-size: 24px;   
    transition: 0.5s;
}

header div.menu div.menu-item a:hover{
    font-size: 25px;
    text-decoration: underline;
    color: #E83F6F;
}

section div.container h1{
    font-size: 72px;
}

section div.images{
    max-width: 1280px;
    width: 100%;
    display: inline-block;
}

section div.images div.image{
    width: 50%;
    float: left;
    margin-bottom: -4px;
}

section div.images div.image img{
    width: 100%;
}

section div.background{
    max-width: 1920px;
    width: 100%;
    background-image: url("../images/bg_flowers.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

section div h2{
    margin-top: 30px;
    font-size: 48px;
}

footer{
    margin-top: 40px;
}

footer div p{
    color: white;
}

footer div.center{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}



@media screen and (max-width: 768px){
    p{
        width: 80%;
        margin-left: 60px;
    }
    section div.background{
        max-width: 768px;
        width: 100%;
        background-image: url("../images/bg_flowers.jpg");
        background-position: left;
        background-repeat: unset;
        background-blend-mode: darken;
    }
    section div.images{
        max-width: 768px;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
    }
    section div.images div.image{
        width: 90%;
        margin-bottom: -4px;
        margin-left: 5%;
    }
}